<!--Gebruik de opmaak van layout.html-->
{% extends "layout.html" %}

#
<!DOCTYPE html>
<html lang="en">

{% block main %}
<head>
    <p class = "header">Picrits: The best way to teach & learn photography!</p>
    <p class = "normaletekst">Picrits is a site specially designed for either amateur or professional<br>photographers to share their knowledge<br>and learn a thing or two from other photographers.<br>Don't be shy to post your masterpieces or give feedback<br>on those made by others!</p>
</head>

{% endblock %}