{% extends "layout.html" %}

{% block title %}
    Discover
{% endblock %}

{% block main %}

<!---Geeft aan dat het bij Discover om nieuwe foto's gaat--->
    <form action="{{ url_for('profielpagina') }}" method="get" enctype="multipart/form-data" >
    <p class = "header">New Pictures</p>
    <br>
<!---voor elke foto op discover-pagina: laat titel, foto (dmv url) en beschrijving zien--->
        {% for photo in photoprofile %}
        <a class = "user" href="{{ url_for('gebruikerspagina',clickeduser=photo["userid"], clickedname=userlist[photo["userid"]]) }}">{{ userlist[photo["userid"]] }}</a>
        <br>
        <p class = "header"><b>{{photo["title"]}}</b></p>
        <div class = "normaletekst"><a href="{{ url_for('imagepagina',clickedpic=photo["picid"], clickeduser=photo["userid"]) }}" class = "rcorners2"><img src="{{photo["url"]}}" alt="Foto 1" class = "img-rounded"></a></div>
        <p class = "beschrijving">{{photo["comment"]}}</p>
        <br>
        {% endfor %}
    </form>
{% endblock %}
