{% extends "layout.html" %}

{% block title %}
    {{username}}
{% endblock %}

{% block main %}
    <style>
    .rcorners {
    border-radius: 25px;
    border: 2px solid #000d33;
    background: #f1f2ef;
    padding: 20px;
    }

    .rcorners2 {
    border-radius: 8px;
    border: 2px solid #000d33;
    }
    </style>

    <a class = "rcorners">{{username}}'s pictures</a>
    <br></br>
    <br></br>
    <br></br>

    <form action="{{ url_for('follow',clickeduser=clickeduser, clickedname=username) }}" class="form" method="post">
    {% if followcheck == True %}
        <input class="btn btn--sm type--uppercase" name="submit" style="background: #e74c3c;border-color: #c0392b;color:white;width:100px;" type="submit" value="Unfollow">
    {%else%}
        <input class="btn btn--sm type--uppercase" name="submit" style="background: #4a90e2;border-color: #4a90e2;color:white;width:100px;" type="submit" value="Follow">
    {%endif%}
    </form>

    {% for photo in photoprofile %}
    <div class = "rcorners"><a href="{{ url_for('imagepagina',clickedpic=photo["picid"],clickeduser = clickeduser) }}" class = "rcorners2"><img src="{{photo["url"]}}" alt="Foto 1" class = "img-rounded"></a></div>
    <p class = "rcorners">{{photo["title"]}}</p>
    <p class = "rcorners">{{photo["comment"]}}</p>
    <br></br>
    <br></br>
    {% endfor %}
{% endblock %}