{% extends "layout.html" %}

{% block title %}
    {{username}}
{% endblock %}

{% block main %}

    {% if userinfo[0]["profilegif"] %}
    <img src ="{{ userinfo[0]["profilegif"] }}" >
    <br>
    <br>
    {% endif %}

    <a class = "normaletekst">{{username}}'s pictures</a>
    <br></br>
    <br></br>
    <br></br>

    {% if session.user_id %}
    <form action="{{ url_for('follow',clickeduser=clickeduser, clickedname=username) }}" class="form" method="post">
    {% if followcheck == True %}
        <input class="btn btn--sm type--uppercase" name="submit" style="background: #e74c3c;border-color: #c0392b;color:white;width:100px;" type="submit" value="Unfollow">
    {%else%}
        <input class="btn btn--sm type--uppercase" name="submit" style="background: #4a90e2;border-color: #4a90e2;color:white;width:100px;" type="submit" value="Follow">
    {%endif%}
    </form>
    {% endif %}

    {% for photo in photoprofile %}
    <p class = "normaletekst">{{photo["title"]}}</p>
    <div class = "normaletekst"><a href="{{ url_for('imagepagina',clickedpic=photo["picid"],clickeduser = clickeduser) }}" class = "rcorners2"><img src="{{photo["url"]}}" alt="Foto 1" class = "img-rounded"></a></div>
    <p class = "beschrijving">{{photo["comment"]}}</p>
    <br></br>
    <br></br>
    {% endfor %}
{% endblock %}