{% extends "layout.html" %}

{% block title %}
    {{username}}
{% endblock %}

{% block main %}
    <style>
    .rcorners {
    border-radius: 25px;
    border: 2px solid #000d33;
    background: #f1f2ef;
    padding: 20px;
    }

    .rcorners2 {
    border-radius: 8px;
    border: 2px solid #000d33;
    }

    button{
      width:200px;
      height:50px;
    }

    button .msg-follow,
    button .msg-following,
    button .msg-unfollow{
      display: none;
    }

    button .msg-follow{
      display: inline;
    }

    button.following .msg-follow{
      display: none;
    }

    button.following .msg-following{
      display: inline;
    }

    button.following:not(.wait):hover .msg-following{
      display: none;
    }

    button.following:not(.wait):hover .msg-unfollow{
      display: inline;
    }
    </style>

    <a class = "rcorners">{{username}}'s pictures</a>
    <script>
    ('button').click(function(){
        var this = (this);
        this.toggleClass('following')
        if(this.is('.following')){
            this.addClass('wait');
        }
    }).on('mouseleave',function(){
        $(this).removeClass('wait');
    })
    </script>
    <button class="follow">
        <span class="msg-follow">Follow</span>
        <span class="msg-following">Following</span>
        <span class="msg-unfollow">Unfollow</span>
    </button>
    <br></br>
    <br></br>
    <br></br>

    {% for photo in photoprofile %}
    <div class = "rcorners"><a href="{{ url_for('imagepagina',clickedpic=photo["picid"],clickeduser = clickeduser) }}" class = "rcorners2"><img src="{{photo["url"]}}" alt="Foto 1" class = "img-rounded"></a></div>
    <p class = "rcorners">{{photo["title"]}}</p>
    <p class = "rcorners">{{photo["comment"]}}</p>
    <br></br>
    <br></br>
    {% endfor %}
{% endblock %}