{% extends "layout.html" %}

{% block title %}
    {{ photo[0]["title"] }}
{% endblock %}

{% block main %}
    <style>
    .hidden{
        display:none;
    }

    .unhidden{
        display:block;
    }
    </style>

    {% if session.user_id %}
    <form action="{{ url_for('like',clickeduser=clickeduser, clickedpic = clickedpic) }}" class="form" method="post">
    {% if likecheck == True %}
        <input class="btn btn--sm type--uppercase" name="submit" style="background: #e74c3c;border-color: #c0392b;color:white;width:100px;" type="submit" value="Dislike">
    {%else%}
        <input class="btn btn--sm type--uppercase" name="submit" style="background: #4a90e2;border-color: #4a90e2;color:white;width:100px;" type="submit" value="Like">
    {%endif%}
    </form>
    {% endif %}



    <script type="text/javascript">
    function unhide(clickedButton, divID) {
    var item = document.getElementById(divID);
    if (item) {
        if(item.className=='hidden'){
            item.className = 'unhidden' ;
            clickedButton.value = 'Close'
        }else{
            item.className = 'hidden';
            clickedButton.value = 'Add comment'
        }
    }}
    </script>

    <p class = "normaletekst"><b>{{ photo[0]["title"] }}</b></p>
    <div class = "normaletekst"><div class = "normaletekst"><img src={{photo[0]["url"]}} alt="Foto 1" class = "img-rounded"></div></div>
    <p class = "beschrijving">{{photo[0]["comment"]}}</p>

    <p><b>Comments</b></p>
    {% if session.user_id %}
    <input type="button" onclick="unhide(this, 'addcomment') " value="Add comment">
    <div class = "hidden" id = "addcomment">
        <form action="{{ url_for('postcomment', clickedpic = clickedpic, clickeduser = clickeduser) }}" method="post">
            <fieldset>
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Subject" type="text"/>
                </div>
                <div class="form-group">
                    <textarea rows="4" cols="50" name="comment" placeholder="Enter your comment here"></textarea>
                </div>
                <div class="form-group">
                    <textarea rows="4" cols="50" name="poscomment" placeholder="Positive notes"></textarea>
                </div>
                <div class="form-group">
                    <textarea rows="4" cols="50" name="negcomment" placeholder="Negative notes"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
    {% endif %}
    {% for comment in comments %}
        <p>{{ comment["comment"] }}</p>
        <p>{{ comment["poscomment"] }}</p>
        <p>{{ comment["negcomment"] }}</p>
    {% endfor %}
{% endblock %}