{% extends "layout.html" %}

{% block title %}
    Your profile
{% endblock %}

{% block main %}

    <form action="{{ url_for('profielpagina') }}" method="get" enctype="multipart/form-data" >

    {% if userinfo[0]["profilegif"] %}
    <img src ="{{ userinfo[0]["profilegif"] }}" >
    <br>
    <a href="{{ url_for('profilegif') }}">Set profile picture</a>
    <br>
    <br>
    {% endif %}
    <p class = "header">Your Pictures</p>
    <br>
    <!---Geef hier het aantal volgers aan dmv followcount--->
    <p class = "normaletekst">{{ followcount }} followers</p>
    <br>

    {% if anypics == False %}
    <p class = "normaletekst">You haven't posted any pictures</p>
    {% endif %}

    <!---Geef de foto, titel en beschrijving bij de foto voor elke foto van de ingelogde gebruiker --->
    {% for photo in photoprofile %}
    <p class = "normaletekst"><b>{{photo["title"]}}</b></p>
    <div class = "normaletekst"><a href="{{ url_for('imagepagina',clickedpic=photo["picid"], clickeduser=photo["userid"]) }}" class = "rcorners2"><img src="{{photo["url"]}}" alt="Foto 1" class="img-rounded"></a></div>
    <p class = "beschrijving">{{photo["comment"]}}</p>
    <br>
    <br>
    {% endfor %}
    </form>
{% endblock %}
