{% extends "layout.html" %}

{% block title %}
    Your profile
{% endblock %}

{% block main %}

    <form action="{{ url_for('profielpagina') }}" method="get" enctype="multipart/form-data" >
    <a class = "normaletekst">Your Pictures</a>
    <a href="{{ url_for('profilegif') }}">Search a Gif</a>
    <br></br>
    <br></br>
    <br></br>

    {% for photo in photoprofile %}
    <p class = "normaletekst"><b>{{photo["title"]}}</b></p>
    <div class = "normaletekst"><a href="{{ url_for('imagepagina',clickedpic=photo["picid"], clickeduser= user) }}" class = "rcorners2"><img src="{{photo["url"]}}" alt="Foto 1" class="img-rounded"></a></div>
    <p class = "beschrijving">{{photo["comment"]}}</p>
    <br></br>
    <br></br>
    {% endfor %}
    </form>
{% endblock %}
