{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
    <a>Upload your image here</a>
    <form action="/upload" method="post" enctype="multipart/form-data" >
        <span class="btn btn-default btn-file">
            Browse <input type="file" name="image">
        </span>
        <br>
        <textarea rows="4" cols="50" name="comment">Description</textarea>
        <br>
        <input type="submit" value="Upload your image" class="btn btn-primary">
    </form>
{% endblock %}